.popup__submit-button {
	width: 100%;
	background-color: #000;
	border: none;
	border-radius: 2px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	color: #fff;
	padding: 14px 0;
	cursor: pointer;
	transition: opacity .3s;
}
.popup__submit-button:hover {
	opacity: .8;
}
@media (max-width: 767px) {
	.popup__submit-button {
		font-size: 14px;
	}
}