.popup__reset-button {
	width: 32px;
	height: 32px;
	border: none;
	background: url(../../../../images/reset-button.svg) no-repeat center;
	position: absolute;
	top: calc(-8px - 32px);
	right: calc(-8px - 32px);
	cursor: pointer;
	transition: opacity .3s;
}
.popup__reset-button:hover {
	opacity: .6;
}
@media (max-width: 767px) {
	.popup__reset-button {
		width: 20px;
		height: 20px;
		top: calc(-16px - 20px);
		right: 0;
	}
}