.profile__add-button {
	height: 50px;
	width: 150px;
	box-sizing: border-box;
	background: url(../../../../images/add-button.svg) no-repeat center;
	background-color: #000;
	border: 2px solid #fff;
	border-radius: 2px;
	margin-left: auto;
	cursor: pointer;
	transition: opacity .3s;
}
.profile__add-button:hover {
	opacity: .6;
}
@media (max-width: 767px) {
	.profile__add-button {
		width: 282px;
		margin: 0 auto;
	}
}