@import url(./styles/vendor/normalize.css);
@import url(./styles/vendor/fonts/Inter/inter.css);
@import url(./styles/blocks/keyframes/keyframes.css);
@import url(./styles/blocks/link-hover/link-hover.css);
@import url(./styles/blocks/body/body.css);
@import url(./styles/blocks/page/page.css);
@import url(./styles/blocks/header/header.css);
@import url(./styles/blocks/profile/profile.css);
@import url(./styles/blocks/posts/posts.css);
@import url(./styles/blocks/post/post.css);
@import url(./styles/blocks/footer/footer.css);
@import url(./styles/blocks/popup/popup.css);